In [1]:
%pylab inline
from datetime import datetime
from sklearn import metrics

Populating the interactive namespace from numpy and matplotlib

In [2]:
#from numpy import genfromtxt
#original_data = genfromtxt('sub_news.csv', delimiter=',')
import pandas as pd 
dataset = pd.read_csv('sub_news_withy.csv') 
dataset.dtypes

IDLink               float64
Title                 object
Headline              object
Source                object
Topic                 object
PublishDate           object
SentimentTitle       float64
SentimentHeadline    float64
Facebook               int64
GooglePlus             int64
LinkedIn               int64
y_maximum            float64
y_esssup               int64
y_speed              float64
y_t_speed              int64
y_classlabel           int64
ab                     int64
bc                     int64
all                    int64
early10              float64
early20              float64
dtype: object

In [3]:
data_rf = dataset.iloc[:, [4,5,6,7,15,11,12,13,14,16,17,18,19,20]]
data_rf

,Topic,PublishDate,SentimentTitle,SentimentHeadline,y_classlabel,y_maximum,y_esssup,y_speed,y_t_speed,ab,bc,all,early10,early20
0,economy,2015-11-12 08:40:12,0.091538,0.042664,2,3.332205,111,0.272733,53,0,1,0,0.000000,0.000000
1,economy,2016-02-09 22:40:21,0.041667,0.013032,2,4.330733,116,0.317557,21,1,0,0,0.000000,3.713572
2,economy,2016-05-06 04:00:00,0.036084,-0.174838,2,5.220356,142,0.201711,45,1,0,0,0.000000,0.000000
3,economy,2016-02-04 04:26:00,-0.259851,-0.019858,2,2.944439,125,0.082215,43,1,0,0,0.000000,0.000000
4,economy,2015-11-24 10:47:12,0.100549,-0.004546,3,1.098612,2,0.104235,10,0,1,1,1.098612,1.098612
5,economy,2016-04-15 02:00:00,-0.025780,0.047795,0,1.386294,79,0.104235,35,0,1,1,0.000000,0.000000
6,economy,2016-01-12 03:40:22,-0.088388,-0.078193,0,1.945910,58,0.129825,12,0,1,1,0.000000,1.386294
7,economy,2015-12-24 15:09:18,0.132583,0.066823,2,4.025352,141,0.262036,11,1,0,0,2.944439,3.044522
8,economy,2016-06-20 06:00:10,0.045277,-0.092238,2,3.178054,125,0.228326,32,1,0,0,0.000000,0.000000
9,economy,2015-12-15 20:20:18,0.032917,0.020458,2,6.625392,143,0.258081,13,1,0,0,0.000000,2.944439
10,economy,2016-01-06 23:00:17,0.121534,-0.132695,1,0.693147,107,0.067018,107,0,1,0,0.000000,0.000000
11,economy,2016-01-26 07:57:24,0.069175,0.070466,1,0.693147,131,0.067018,131,1,0,0,0.000000,0.000000
12,economy,2016-02-05 15:07:23,0.023058,-0.099938,2,2.944439,140,0.149233,10,1,0,0,1.609438,1.609438
13,economy,2016-03-28 15:01:04,0.098710,-0.090166,1,2.079442,80,0.188920,80,0,1,1,0.000000,0.000000
14,economy,2016-04-04 14:41:17,0.074074,-0.028871,2,2.484907,104,0.164816,16,0,1,0,0.000000,1.791759
15,economy,2015-12-08 07:20:16,0.041667,-0.013975,2,3.761200,120,0.188920,12,1,0,0,1.791759,2.302585
16,economy,2016-01-04 01:00:17,0.000000,-0.121268,0,2.484907,101,0.188920,27,0,1,1,0.000000,0.000000
17,economy,2016-03-11 13:24:29,0.153093,0.198543,1,2.302585,93,0.177804,72,0,1,1,0.000000,0.000000
18,economy,2016-05-22 18:00:04,0.079057,-0.097917,2,4.276666,107,0.279061,12,0,1,0,0.000000,3.218876
19,economy,2015-12-15 11:12:14,0.000000,-0.118114,0,2.833213,76,0.149233,10,0,1,1,1.609438,2.639057
20,economy,2016-06-01 17:40:06,-0.037689,-0.074536,2,4.927254,128,0.198623,27,1,0,0,0.000000,2.079442
21,economy,2016-04-22 10:52:15,0.039528,0.012851,3,1.609438,44,0.082215,44,0,1,1,0.693147,0.693147
22,economy,2015-11-13 08:34:11,0.000000,-0.052281,3,0.693147,15,0.067018,15,0,1,1,0.000000,0.693147
23,economy,2016-01-07 18:36:23,0.041926,-0.174516,3,0.693147,9,0.067018,10,0,1,1,0.693147,0.693147
24,economy,2016-05-02 19:02:17,0.000000,0.083853,2,4.736198,129,0.157801,10,1,0,0,2.995732,2.995732
25,economy,2016-06-19 17:13:00,0.041667,0.027840,0,1.098612,63,0.067018,22,0,1,1,0.000000,0.000000
26,economy,2015-12-17 04:20:19,0.144938,-0.025000,0,3.401197,85,0.228326,10,0,1,1,2.564949,2.639057
27,economy,2016-01-31 17:00:20,0.000000,0.024515,2,4.615121,143,0.164816,33,1,0,0,0.000000,0.000000
28,economy,2016-03-10 14:00:36,0.141737,0.055902,3,0.693147,33,0.067018,33,0,1,1,0.000000,0.000000
29,economy,2015-11-13 09:20:09,-0.079057,-0.075012,2,2.944439,109,0.228326,43,0,1,0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,palestine,2016-03-30 18:36:17,-0.055556,0.110251,3,3.044522,40,0.265783,40,0,1,1,0.000000,0.000000
971,palestine,2016-06-21 21:54:20,0.041667,-0.044194,2,4.962845,123,0.299846,11,1,0,0,2.639057,4.262680
972,palestine,2016-03-13 17:45:13,0.154680,0.003544,1,2.484907,136,0.097798,66,1,0,0,0.693147,0.693147
973,palestine,2015-11-24 20:45:41,0.000000,-0.053300,2,2.772589,116,0.221935,20,0,1,0,0.000000,2.397895
974,palestine,2016-03-24 03:44:00,-0.111803,0.015158,3,0.693147,21,0.067018,21,0,1,1,0.000000,0.000000
975,palestine,2016-01-20 09:05:12,0.037037,-0.245439,2,2.302585,132,0.177804,20,1,0,0,0.000000,1.791759
976,palestine,2016-02-01 07:05:39,-0.080747,-0.186400,2,4.330733,142,0.272733,24,1,0,0,0.000000,3.044522
977,palestine,2016-01-09 10:40:52,-0.079057,-0.131121,2,2.890372,114,0.047979,13,0,1,0,1.791759,1.945910
978,palestine,2016-06-20 18:00:21,0.000000,0.140264,2,1.945910,134,0.129825,11,1,0,0,1.098612,1.609438
979,palestine,2015-12-30 09:57:49,-0.322845,0.034861,0,1.609438,70,0.067018,14,0,1,1,0.000000,0.693147
980,palestine,2016-01-28 01:19:43,0.281250,0.287500,3,0.693147,1,0.067018,10,0,1,1,0.693147,0.693147
981,palestine,2015-11-23 11:21:40,0.020833,-0.017498,3,0.693147,8,0.067018,10,0,1,1,0.693147,0.693147
982,palestine,2016-06-30 11:22:19,0.044194,0.017081,2,2.708050,140,0.082215,34,1,0,0,0.693147,0.693147
983,palestine,2015-12-22 06:02:00,0.049870,0.000000,2,4.736198,142,0.290226,36,1,0,0,0.000000,0.000000
984,palestine,2016-02-11 14:17:10,0.000000,-0.215077,2,3.784190,112,0.204052,29,0,1,0,1.098612,1.098612
985,palestine,2016-05-12 08:51:20,0.000000,-0.083347,2,3.637586,114,0.124091,10,0,1,0,2.484907,2.995732
986,palestine,2016-04-30 16:31:19,0.132583,0.047378,2,3.367296,130,0.050731,26,1,0,0,2.079442,2.079442
987,palestine,2016-07-02 08:10:00,-0.079057,-0.073288,1,4.584967,120,0.228173,120,1,0,0,0.000000,0.000000
988,palestine,2015-12-19 20:20:47,-0.251907,-0.110387,2,3.828641,128,0.244716,36,1,0,0,0.000000,0.000000
989,palestine,2016-06-15 16:47:50,0.000000,-0.026650,2,4.330733,115,0.213322,16,1,1,0,1.386294,3.850148
990,palestine,2015-12-22 06:44:53,0.245370,0.022680,0,4.189655,94,0.249452,18,0,1,1,0.000000,2.833213
991,palestine,2015-11-24 20:00:45,-0.036084,-0.004253,2,6.171701,121,0.313127,26,1,0,0,0.693147,3.761200
992,palestine,2016-01-29 01:17:00,-0.335410,-0.391312,0,1.791759,68,0.104235,36,0,1,1,0.000000,0.000000
993,palestine,2016-02-15 13:55:10,-0.152224,-0.122573,0,2.833213,85,0.228326,61,0,1,1,0.000000,0.000000
994,palestine,2016-01-14 13:19:54,-0.255155,-0.265787,2,2.772589,128,0.067018,10,1,0,0,0.693147,0.693147
995,palestine,2016-07-04 09:11:00,-0.041667,0.142188,0,2.708050,62,0.221935,41,0,1,1,0.000000,0.000000
996,palestine,2016-04-11 16:20:17,0.237171,-0.153093,2,5.164786,143,0.082325,11,1,0,0,3.806662,4.343805
997,palestine,2016-03-01 09:46:11,-0.166667,0.000000,2,3.295837,111,0.129825,10,0,1,0,1.386294,1.386294
998,palestine,2016-05-04 10:44:19,-0.158114,-0.062500,2,5.624018,143,0.140481,10,1,0,0,2.639057,3.295837
999,palestine,2016-03-25 01:58:12,0.000000,0.209883,2,3.433987,140,0.129825,10,1,0,0,1.386294,1.386294

In [4]:
data_onehot = data_rf.copy()
data_onehot = pd.get_dummies(data_onehot, columns=["Topic"])

data_new = data_onehot
data_new.head()
print(sorted(data_new['PublishDate'])[1])
print(sorted(data_new['PublishDate'],reverse=True)[1])

2015-11-09 23:49:13
2016-07-05 13:01:14

In [5]:
# data_new =data_new[(data_new['Facebook']>10)]
data_new["PublishDate"] = pd.to_datetime(data_new["PublishDate"])
#data_new["PublishDate"]

In [6]:
bins = [datetime.strptime('2015-11-01 00:00:00', '%Y-%m-%d %H:%M:%S'),
        datetime.strptime('2016-01-31 00:00:00', '%Y-%m-%d %H:%M:%S'),
        datetime.strptime('2016-05-01 00:00:00', '%Y-%m-%d %H:%M:%S')]
names = ['Nov 2015 to Jan 2016', 'Feb 2016 to April 2016', 'May 2016 to July 2016']
conditions = [
    (data_new['PublishDate'] >= bins[0]) & (data_new['PublishDate'] <= bins[1]),
    (data_new['PublishDate'] > bins[1]) & (data_new['PublishDate'] <= bins[2]),
    (data_new['PublishDate'] > bins[2])]
data_new['DateRange'] = np.select(conditions, names)
data_new.head()

,PublishDate,SentimentTitle,SentimentHeadline,y_classlabel,y_maximum,y_esssup,y_speed,y_t_speed,ab,bc,all,early10,early20,Topic_economy,Topic_microsoft,Topic_obama,Topic_palestine,DateRange
0,2015-11-12 08:40:12,0.091538,0.042664,2,3.332205,111,0.272733,53,0,1,0,0.000000,0.000000,1,0,0,0,Nov 2015 to Jan 2016
1,2016-02-09 22:40:21,0.041667,0.013032,2,4.330733,116,0.317557,21,1,0,0,0.000000,3.713572,1,0,0,0,Feb 2016 to April 2016
2,2016-05-06 04:00:00,0.036084,-0.174838,2,5.220356,142,0.201711,45,1,0,0,0.000000,0.000000,1,0,0,0,May 2016 to July 2016
3,2016-02-04 04:26:00,-0.259851,-0.019858,2,2.944439,125,0.082215,43,1,0,0,0.000000,0.000000,1,0,0,0,Feb 2016 to April 2016
4,2015-11-24 10:47:12,0.100549,-0.004546,3,1.098612,2,0.104235,10,0,1,1,1.098612,1.098612,1,0,0,0,Nov 2015 to Jan 2016

In [7]:
data_date_onehot = data_new.copy()
data_date_onehot = pd.get_dummies(data_date_onehot, columns=["DateRange"], prefix = "")
data_date_onehot.head()

,PublishDate,SentimentTitle,SentimentHeadline,y_classlabel,y_maximum,y_esssup,y_speed,y_t_speed,ab,bc,all,early10,early20,Topic_economy,Topic_microsoft,Topic_obama,Topic_palestine,_Feb 2016 to April 2016,_May 2016 to July 2016,_Nov 2015 to Jan 2016
0,2015-11-12 08:40:12,0.091538,0.042664,2,3.332205,111,0.272733,53,0,1,0,0.000000,0.000000,1,0,0,0,0,0,1
1,2016-02-09 22:40:21,0.041667,0.013032,2,4.330733,116,0.317557,21,1,0,0,0.000000,3.713572,1,0,0,0,1,0,0
2,2016-05-06 04:00:00,0.036084,-0.174838,2,5.220356,142,0.201711,45,1,0,0,0.000000,0.000000,1,0,0,0,0,1,0
3,2016-02-04 04:26:00,-0.259851,-0.019858,2,2.944439,125,0.082215,43,1,0,0,0.000000,0.000000,1,0,0,0,1,0,0
4,2015-11-24 10:47:12,0.100549,-0.004546,3,1.098612,2,0.104235,10,0,1,1,1.098612,1.098612,1,0,0,0,0,0,1

In [8]:
df = data_date_onehot[["SentimentTitle","SentimentHeadline","Topic_economy","Topic_microsoft",
                      "Topic_obama","Topic_palestine","_Feb 2016 to April 2016","_May 2016 to July 2016",
                      "_Nov 2015 to Jan 2016","early10","early20","all"]]

df.head()
#df is our final data after preprocessing

,SentimentTitle,SentimentHeadline,Topic_economy,Topic_microsoft,Topic_obama,Topic_palestine,_Feb 2016 to April 2016,_May 2016 to July 2016,_Nov 2015 to Jan 2016,early10,early20,all
0,0.091538,0.042664,1,0,0,0,0,0,1,0.000000,0.000000,0
1,0.041667,0.013032,1,0,0,0,1,0,0,0.000000,3.713572,0
2,0.036084,-0.174838,1,0,0,0,0,1,0,0.000000,0.000000,0
3,-0.259851,-0.019858,1,0,0,0,1,0,0,0.000000,0.000000,0
4,0.100549,-0.004546,1,0,0,0,0,0,1,1.098612,1.098612,1

In [9]:
#Splitting the data into independent and dependent variables
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
X = df.iloc[:,1:11].values
y = df.iloc[:,11].values
scaler = StandardScaler()
X = scaler.fit_transform(X)
# Creating the Training and Test set from data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 21)
# Feature Scaling

#X_train = scaler.fit_transform(X_train)
#X_test = scaler.transform(X_test)

# Classification ( five models)

 ### Random Forest

In [10]:
# Fitting Random Forest Classification to the Training set
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 42)
classifier.fit(X_train, y_train)
# Predicting the Test set results
y_pred = classifier.predict(X_test)
# Making the Confusion Matrix
print(pd.crosstab(y_test, y_pred, rownames=['Actual Labels'], colnames=['Predicted Labels']))

Predicted Labels    0   1
Actual Labels
0                 104  42
1                  52  52

In [11]:
from sklearn.metrics import accuracy_score
print('Accuracy:', accuracy_score(y_test, y_pred))
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Accuracy: 0.624
Mean Absolute Error: 0.376
Mean Squared Error: 0.376
Root Mean Squared Error: 0.6131883886702356

In [12]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.67      0.71      0.69       146
           1       0.55      0.50      0.53       104

   micro avg       0.62      0.62      0.62       250
   macro avg       0.61      0.61      0.61       250
weighted avg       0.62      0.62      0.62       250

### Gaussian Naive Bayes classifier

In [13]:
from sklearn.naive_bayes import GaussianNB 
gnb = GaussianNB().fit(X_train, y_train) 
y_pred = gnb.predict(X_test) 
# accuracy on X_test 
accuracy = gnb.score(X_test, y_test)

In [14]:
# creating a confusion matrix 
print(pd.crosstab(y_test, y_pred, rownames=['Actual Labels'], colnames=['Predicted Labels']))

Predicted Labels   0   1
Actual Labels
0                 67  79
1                 36  68

In [15]:
print('Accuracy:', accuracy)
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Accuracy: 0.54
Mean Absolute Error: 0.46
Mean Squared Error: 0.46
Root Mean Squared Error: 0.6782329983125268

### Support Vector Machine

In [16]:
from sklearn.svm import SVC  
svclassifier = SVC(kernel='sigmoid',gamma='auto')  
svclassifier.fit(X_train, y_train)  
y_pred = svclassifier.predict(X_test) 
print(pd.crosstab(y_test, y_pred, rownames=['Actual Labels'], colnames=['Predicted Labels']))

Predicted Labels   0   1
Actual Labels
0                 87  59
1                 63  41

In [17]:
print('Accuracy:', accuracy_score(y_test, y_pred))
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Accuracy: 0.512
Mean Absolute Error: 0.488
Mean Squared Error: 0.488
Root Mean Squared Error: 0.6985699678629192

### Decision Tree

In [18]:
#with Gini Index 
from sklearn.tree import DecisionTreeClassifier
clf_gini = DecisionTreeClassifier(criterion = "gini", random_state = 100,
                               max_depth=3, min_samples_leaf=5)
clf_gini.fit(X_train, y_train)
DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=5,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=100, splitter='best')
y_pred = clf_gini.predict(X_test)
print(pd.crosstab(y_test, y_pred, rownames=['Actual Labels'], colnames=['Predicted Labels']))

Predicted Labels    0   1
Actual Labels
0                 132  14
1                  78  26

In [19]:
#with entropy Index 
from sklearn.tree import DecisionTreeClassifier
clf_e = DecisionTreeClassifier(criterion = "entropy", random_state = 100,
                               max_depth=3, min_samples_leaf=5)
clf_e.fit(X_train, y_train)
DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=5,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=100, splitter='best')
y_pred = clf_e.predict(X_test)
print(pd.crosstab(y_test, y_pred, rownames=['Actual Labels'], colnames=['Predicted Labels']))

Predicted Labels    0   1
Actual Labels
0                 132  14
1                  78  26

In [20]:
print('Accuracy:', accuracy_score(y_test, y_pred))
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Accuracy: 0.632
Mean Absolute Error: 0.368
Mean Squared Error: 0.368
Root Mean Squared Error: 0.6066300355241241

### K-Nearest Neighbours

In [21]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import neighbors
clf = neighbors.KNeighborsClassifier(5)
y_pred = clf.fit(X_train,y_train).predict(X_test)
print(pd.crosstab(y_test, y_pred, rownames=['Actual Labels'], colnames=['Predicted Labels']))

Predicted Labels   0   1
Actual Labels
0                 95  51
1                 56  48

In [22]:
print('Accuracy:', accuracy_score(y_test, y_pred))
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Accuracy: 0.572
Mean Absolute Error: 0.428
Mean Squared Error: 0.428
Root Mean Squared Error: 0.6542170893518451

## Check out Daniel's code "Cross Validation.ipynb" for a clearer summary of the process above.

# Normal Regression on Continuous Targets

### y = Maximum Popularity

In [23]:
df1 = data_date_onehot[["SentimentTitle","SentimentHeadline","Topic_economy","Topic_microsoft",
                      "Topic_obama","Topic_palestine","_Feb 2016 to April 2016","_May 2016 to July 2016",
                      "_Nov 2015 to Jan 2016","early10","early20","y_maximum"]]
df1.head()

,SentimentTitle,SentimentHeadline,Topic_economy,Topic_microsoft,Topic_obama,Topic_palestine,_Feb 2016 to April 2016,_May 2016 to July 2016,_Nov 2015 to Jan 2016,early10,early20,y_maximum
0,0.091538,0.042664,1,0,0,0,0,0,1,0.000000,0.000000,3.332205
1,0.041667,0.013032,1,0,0,0,1,0,0,0.000000,3.713572,4.330733
2,0.036084,-0.174838,1,0,0,0,0,1,0,0.000000,0.000000,5.220356
3,-0.259851,-0.019858,1,0,0,0,1,0,0,0.000000,0.000000,2.944439
4,0.100549,-0.004546,1,0,0,0,0,0,1,1.098612,1.098612,1.098612

In [24]:
#Splitting the data into independent and dependent variables
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
X = df1.iloc[:,0:11].values
y = df1.iloc[:,11].values
# Creating the Training and Test set from data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 21)
# Feature Scaling
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [25]:
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
# Create linear regression object
regr = linear_model.LinearRegression()

# Train the model using the training sets
regr.fit(X_train, y_train)

# Make predictions using the testing set
y_pred = regr.predict(X_test)

# The coefficients
print('Coefficients: \n', regr.coef_)
# The mean squared error
print("Mean squared error: %.2f"
      % mean_squared_error(y_test, y_pred))
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(y_test, y_pred))

Coefficients:
 [ 5.34995140e-02 -6.73465224e-02 -2.22367462e+13 -1.91977619e+13
 -2.13541023e+13 -1.38433311e+13 -1.72771334e+14 -1.50909892e+14
 -1.67218895e+14 -5.69483558e-02  1.08724102e+00]
Mean squared error: 2.09
Variance score: 0.22

In [26]:
y_fit = regr.predict(X_train)
np.var(y_fit)/np.var(y_train)

0.3940838906859309

In [27]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 1.0790820303242727
Mean Squared Error: 2.0876884814193137
Root Mean Squared Error: 1.4448835528925208

In [28]:
dataset.shape

(1000, 21)

### y = pca

In [29]:
df2 = data_date_onehot[["SentimentTitle","SentimentHeadline","Topic_economy","Topic_microsoft",
                      "Topic_obama","Topic_palestine","_Feb 2016 to April 2016","_May 2016 to July 2016",
                      "_Nov 2015 to Jan 2016","early10","early20","pca"]]
df2.head()

KeyError: "['pca'] not in index"

In [ ]:
#Splitting the data into independent and dependent variables
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
X = df2.iloc[:,0:11].values
y = df2.iloc[:,11].values
# Creating the Training and Test set from data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 21)
# Feature Scaling
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
# Create linear regression object
regr = linear_model.LinearRegression()

# Train the model using the training sets
regr.fit(X_train, y_train)

# Make predictions using the testing set
y_pred = regr.predict(X_test)

# The coefficients
print('Coefficients: \n', regr.coef_)
# The mean squared error
print("Mean squared error: %.2f"
      % mean_squared_error(y_test, y_pred))
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(y_test, y_pred))

In [ ]:
y_fit = regr.predict(X_train)
np.var(y_fit)/np.var(y_train)

In [ ]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

In [ ]:
dataset.shape